extend ../layouts/main
include ../mixins/search_category
include ../mixins/product_card

block content
    .body-padding
        +searchCategory("Find eco-friendly products here", name, category_id, categories)
        div(class="my-0 lg:my-10 xl:my-10 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4")
            each item in items.items
                +productCard(item.item_name, item.item_price, item.category.category_name, item.image.image_id)
    script(src="/js/search.js")