mixin logo()
    a(href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse")
        img(src="svgs/logo.svg" class="h-8" alt="Node4U Logo")
        span(class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white") Node4U