mixin search(placeholder)
    form(action="/search" method="get" class="flex max-w-md mx-auto md:mx-0")
        label(for="simple-search" class="sr-only") Search
        div(class = "relative w-full")
            select(class="hidden" name="category")
                option(value="") Select Category
            input(type="text" id="simple-search" name="query"
                class="truncate w-full ps-10 py-3 pl-3 pr-16 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder=placeholder)
            div(class = "absolute right-0 top-0 mt-2 mr-11")
                svg(class="absolute left-3 w-6 h-6 text-gray-400", fill="currentColor", viewBox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1111.196 4.5l4.451 4.451a1 1 0 01-1.414 1.414l-4.451-4.451A6 6 0 012 8z" clip-rule="evenodd")
        button(type="submit"
            class="ml-3 py-3 px-8 ms-2 text-sm font-semibold text-white bg-blue-700 rounded-2xl border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800")
            p Find
            span(class="sr-only") Search