include ../mixins/logo.pug

header
    nav(class = "bg-purple-800 p-4")
        //- Menu
        div(class = "container mx-auto flex justify-between mb-1")
            +logo()

            //- Container Icons
            div(class= "flex space-x-4 items-center")
                //- Cart
                a(href="/cart" class="text-gray-300 hover:text-white")
                    svg(class="w-6 h-6", fill="none", stroke="currentColor", viewBox="0 0 24 24", xmlns="http://www.w3.org/2000/svg")
                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M3 3h18a2 2 0 012 2v14a2 2 0 01-2 2H3a2 2 0 01-2-2V5a2 2 0 012-2zm5 16a2 2 0 100-4 2 2 0 000 4zm8-4H8")
                //- Address
                a(href="/address" class="text-gray-300 hover:text-white")
                    svg(class="w-6 h-6", fill="none", stroke="currentColor", viewBox="0 0 24 24", xmlns="http://www.w3.org/2000/svg")
                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M12 14c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm8 8c0-1.657-4-3-8-3s-8 1.343-8 3M12 2c-4 0-7 3.135-7 7 0 4.348 4.58 7.915 7 10 2.42-2.085 7-5.652 7-10 0-3.865-3-7-7-7z")

                //- Responsive Hamburger menu
                button(class=" text-gray-300 hover:text-white focus:outline-none md:hidden")
                    svg(class="w-6 h-6", fill="none", stroke="currentColor", viewBox="0 0 24 24", xmlns="http://www.w3.org/2000/svg")
                        path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M4 6h16M4 12h16m-7 6h7")

        //- Container Link
        div(class= "container mx-auto justify-center md:flex")
            ul(class = "hidden space-y-1 md:space-y-0 md:space-x-4 md:flex")
                //- Navigation Links
                li: a(href="/", class= "text-gray-300 font-semibold hover:text-white hover:underline") Home
                li: a(href="/about", class= "text-gray-300 font-semibold hover:text-white hover:underline") About
                li: a(href="/services", class= "text-gray-300 font-semibold hover:text-white hover:underline") Services
                li: a(href="/contact", class= "text-gray-300 font-semibold hover:text-white hover:underline") Contact